.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 32px;
  margin: auto;
  height: 100vh;
  background: #f8f8f8;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 8px auto;
  margin: 8px auto;
}

.badge-error {
  color: #222;
  font-size: 12px;
  font-weight: 600;
  margin: 8px;
  padding: 8px;
  background: lightcoral;
  border-radius: 6px;
}

.field-input {
  width: 100%;
  padding: 8px;
  margin-top: 4px; 
}

button {
  margin-top: 24px;
  padding: 6% 20%;
  background: lightskyblue;
  border: none;
  color: #222;
  font-size: 18px;
}

button:hover {
  padding: 6% 20%;
  background: blueviolet;
  border: none;
  color: #FFF;
  font-size: 17px;
  cursor: pointer;
  transition-duration: 0.5s;
}

button:disabled, button[disabled], button.disabled, button[disabled=disabled], .btnSubmit.disabled
{
  background: lightgray!important;  
  color: #AAA;
  cursor: not-allowed;
  pointer-events: none;
}
